
 <div id="adminCandidato" class="container-fluid">

  <div class="container">
    <header>
      <nav class="navbar navbar-default" style="background-color: #d6ccff ">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapse" data-target="#navbar-1">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div id="menu">
              <ul>
              <a href="../index.html" class="navbar-brand">VooTweet</a>
              <li><a href="/#!/admin/partido"> <i class="fa fa-flag" aria-hidden="true"></i>Partidos Politicos </a></li>
                <li><a href="/#!/admin/usuario"><i class="fa fa-user" aria-hidden="true"></i>Usuarios</a></li>
                <li><a href="/#!/admin/candidato"><i class="fa fa-life-ring" aria-hidden="true"></i> Candidatos Presidenciales </a></li>
              </ul>
            </div>
          </div>
        </div>

      </nav>
    </header>
  </div>


    <div  class="row"  style="border: 1pt solid #fbb; text-align: center;">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">

        <table class=" table tabler-hover tablaUsuario" align="left" id="table" width=30% style="float:left;">
          <tr>
            <th>Partido</th>
            <th>Nombre</th>
            <th>Twitter</th>
            <th>Fecha Nacimiento</th>
            <th>Edad</th>
            <th>Descripcion</th>
            <th>Imagen</th>
            <th>Actividad</th>
          </tr>
          <tr>
            <form>
              <td ><select ng-options="partido.pdtoId as partido.pdtoNombre for partido in partidos" ng-model="ModelpdtoId"></select></td>

              <td ><input type="text" ng-model="ModelcdtoNombre"></td> 
              <td ><input type="text" ng-model="ModelcdtoCuentaTwitter"></td>
              <td ><input type="text" ng-model="ModelcdtoFechaNacimiento"></td>
              <td ><input type="text" ng-model="ModelcdtoEdad"></td>
              <td ><input type="text" ng-model="ModelcdtoDescripcion"></td>
              <td ><input type="text" ng-model="ModelcdtoImagen"></td>
              <td ><select ng-options="a.id as a.nombre for a in actividad" ng-model="ModelcdtoActivo"></select></td>
              
              <td ><input ng-click="add()" type="submit" value="Nuevo" class="btn btn-primary" style='width:70px; height:25px'></td>
            </form>
          </tr>
          
            <tr ng-repeat="candidato in candidatos">
            <td ng-if="candidato.pdtoId  == 1">Evopoli</td>
            <td ng-if="candidato.pdtoId  == 2">Independiente</td>
            <td ng-if="candidato.pdtoId  == 3">RN</td>
            <td ng-if="candidato.pdtoId  == 4">FR</td>
            <td ng-if="candidato.pdtoId  == 5">PS</td>
            <td ng-if="candidato.pdtoId  == 6">PDC</td>

            <td >{{candidato.cdtoNombre}}</td>
            <td >{{candidato.cdtoCuentaTwitter}}</td>
            <td >{{candidato.cdtoFechaNacimiento}}</td>
            <td >{{candidato.cdtoEdad}}</td>
            <td >{{candidato.cdtoDescripcion}}</td>
            <td >{{candidato.cdtoImagen}}</td>
            <td ng-if="candidato.cdtoActivo == false">Inactivo</td>
            <td ng-if="candidato.cdtoActivo == true">Activo</td>

            <td ><input ng-click="delete($index)" type="text" name="Eliminar" class="btn btn-danger" value="Borrar" style='width:70px; height:25px' ></td>
          </tr> 
        </table>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
