

	<div id="adminUsuario" class="container-fluid">

	<div class="container">
		<header>
			<nav class="navbar navbar-default" style="background-color: #d6ccff ">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapse" data-target="#navbar-1">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<div id="menu">
							<ul>
							<a href="../index.html" class="navbar-brand">VooTweet</a>
							<li><a href="/#!/admin/partido"> <i class="fa fa-flag" aria-hidden="true"></i>Partidos Politicos </a></li>
								<li><a href="/#!/admin/usuario"><i class="fa fa-user" aria-hidden="true"></i>Usuarios</a></li>
								<li><a href="/#!/admin/candidato"><i class="fa fa-life-ring" aria-hidden="true"></i> Candidatos Presidenciales </a></li>
							</ul>
						</div>
					</div>
				</div>

			</nav>
		</header>
	</div>


		<div class="row"  style="border: 1pt solid #fbb; text-align: center;">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">

				<table class=" table tabler-hover tablaUsuario" align="left" id="table" width=30% style="float:left;">
					<tr>
						<th>Candidato</th>
						<th>Privilegios</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Email</th>
						<th>Activo</th>
						<th>Fecha registro</th>

					</tr>
					
					<tr ng-repeat="usuario in usuarios">
						<td ng-if="usuario.cdtoId  == 1">Felipe Kast</td>
						<td ng-if="usuario.cdtoId  == 2">Jose Ossandon</td>
						<td ng-if="usuario.cdtoId  == 3">Sebastian Piñera</td>
						<td ng-if="usuario.cdtoId  == 4">Beatriz Sanchez</td>
						<td ng-if="usuario.cdtoId  == 5">Alejandro Guiller</td>
						<td ng-if="usuario.cdtoId  == 6">Carolina Goic</td>

						<td ng-if="usuario.usrPrivilegio == 0">Usuario</td>
						<td ng-if="usuario.usrPrivilegio == 1">Admin</td>
						<td >{{usuario.usrNombre}}</td>
						<td >{{usuario.usrApellido}}</td>
						<td >{{usuario.usrCorreo}}</td>
						<td ng-if="usuario.usrActivo == False">Inactivo</td>
						<td ng-if="usuario.usrActivo == true">Activo</td>
						<td >{{usuario.usrFechaRegistro}}</td>
						<td ><input ng-click="delete($index)" type="text" name="Eliminar" class="btn btn-danger" value="Borrar" style='width:70px; height:25px' ></td>
					</tr>	
				</table>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>


